@model IEnumerable<MobileInfo.Models.Picture>

<table class="table">
	<div style="font-style:initial; font-size:20px ; color:mediumblue; padding-left: 5%; padding-top:1%"> @Html.ActionLink("Go Back", "ALoggedIn")</div>
	<div style="font-style:initial; font-size:20px ; color:mediumblue; padding-left: 85%; padding-top:-1% "> @Html.ActionLink("Add new Picture", "RegisterPicture")</div>

	<tr>
		<th>
			@Html.DisplayNameFor(model => model.MobileId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Image)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.MobileId)
			</td>
			<td>
				<img src="@Url.Content(item.Image)" height="200" width="150" />
			</td>
			<td>
				@Html.ActionLink("Edit", "PEdit", new { id = item.Id }) |
				@Html.ActionLink("Details", "PDetails", new { id = item.Id }) |
				@Html.ActionLink("Delete", "PDelete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
